= form_for @rate do |f|
  - if @rate.errors.any?
    #error_explanation
      %h2= "#{pluralize(@rate.errors.count, "error")} prohibited this rate from being saved:"
      %ul
        - @rate.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :type
    = f.text_field :type
  .field
    = f.label :bid_fix
    = f.text_field :bid_fix
  .actions
    = f.submit 'Save'
