.row
  - unless current_user.nil?
    .growth_rate
      - growth = Rate.growth_rate(3).round(2)
      - if growth < 0
        .green= t("rates.growth_rate", {growth: growth})
      - else
        .red= t("rates.growth_rate", {growth: growth})

  .hight-chart.small-12.large-12
    .rate
  %table.small-12.large-12
    %thead
      %tr
        %th= t("rates.bid_fx")
        %th= t("rates.created_at")
    %tbody
      - @rates.each do |rate|
        %tr
          %td= rate.bid_fx
          %td= (rate.published_at).strftime("%Y-%-m-%-d %k:%M")
  = will_paginate @posts, {previous_label: t("shared.paginator.previous_label"), next_label: t("shared.paginator.next_label"), renderer: FoundationPagination::Rails}
:javascript
  $(document).ready(function(){
    display_rate_chart(#{@rate_date_arr});
  })
