.row
  .hight-chart.small-12.large-12.columns
    .rate
  %table.small-12.large-12.columns
    %thead
      %tr
        %th= t("rates.bid_fx")
        %th= t("rates.created_at")
    %tbody
      - @rates.each do |rate|
        %tr
          %td= rate.bid_fx
          %td= (rate.created_at).strftime("%Y-%-m-%-d %k:%M")
  = will_paginate @posts, {previous_label: t("shared.paginator.previous_label"), next_label: t("shared.paginator.next_label"), renderer: FoundationPagination::Rails}
:javascript
  $(document).ready(function(){
    display_rate_chart(#{@rate_date_arr});
  })
