%nav.top-bar{role: "navigation", data: {option: "is_hover: false"}}
  .row
  %section.top-bar-section.small-12.large-12
    %ul.left
      %li.home-logo
        = link_to root_path do
          = fa_stacked_icon("home", class: "fa-1x")
    %ul.login-signup.right
      - if !current_user
        %li= link_to t("shared.login"), login_path, class: "login-btn button round"
        %li= link_to t("shared.sign_up"), signup_path, class: "signup-btn button round"
      - else
        %li= link_to t("shared.welcome", email: current_user.email), current_user
        %li= link_to t("shared.logout"), logout_path, class: "login-btn button round"
